{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Dating list{% endblock %}

{% block body %}
<h1>Dating</h1>

       
    {% include "@FollowMeBundle/Resources/views/liste/dating.html.twig" %}

{% endblock %}
