{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}FollowMeBundle:Main:index{% endblock %}

{% block body %}
<h1>Follow me</h1>

    {#Rendu ESI#}
    {{ render_esi(controller('FollowMeBundle:Main:banner'))  }}

{% endblock %}
