{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Sign up{% endblock %}

{% block body %}
<h1>Sign in</h1>
    
     {{ form_start(form, { "attr":{"novalidate": "novalidate"} } ) }}

        {% include "@FollowMeBundle/Resources/views/form/sign_errors.html.twig" %}
       
        {% include "@FollowMeBundle/Resources/views/form/input/sign_in.html.twig" %}
        
         <div class="input-form">
             <button class="btn-btn-success">Sign in</button>
        </div>

       {{ form_end(form) }}
        
{% endblock %}
